<%= form_for(@church) do |f| %>
  <% if @church.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@church.errors.count, "error") %> prohibited this church from being saved:</h2>

      <ul>
      <% @church.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :mqtt_ip %><br>
    <%= f.text_field :mqtt_ip %>
  </div>
  <div class="field">
    <%= f.label :mqtt_port %><br>
    <%= f.text_field :mqtt_port %>
  </div>
  <div class="field">
    <%= f.label :mqtt_topic %><br>
    <%= f.text_field :mqtt_topic %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.number_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :sunday_mass %><br>
    <%= f.text_area :sunday_mass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
